@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

*{
	padding:0;
	margin:0;
}

body{
	font-family: "Ubuntu", sans-serif;
	font-size: 60px;
	background:#f8f8f8;
}

#typed_1{
	font-size: 120px;
	color:#f8f8f8;
}

a{
	text-decoration: none;
	color:#666;
}
	a:hover{
		color:#999;
	}
p{
	line-height: 2em;
	margin:0 0 20px;
	text-align: center;
}

.wrap{
	margin:150px auto;
}

.type-wrap{
	margin:10px auto;
	padding:20px;
	text-align: right;
}

.links{
	margin:20px 0;
	font-size: 0.75em;
	text-align: center;
}